<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/notification.css">
    <title>Notification Page</title>
</head>
<body>
    <div class="notification-container">
        <div class="notification">
            <span class="icon">&#128232;</span>
            <p>You have received a message from Sagnik.</p>
            <div id="link-container"></div>
        </div>
    </div>
</body>
<script src="/css/notification.js"></script>
</html>
