<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtuConnect</title>
    <link rel="stylesheet" href="/css/css/style.css">
    <link rel="stylesheet" href="/css/css/owl.theme.default.css">
    <link rel="stylesheet" href="/css/css/owl.carousel.min.css">
</head>

<body>
    <!--navbar-->
    <nav>
        <!--logo and search-->
        <div class="left-side">
            <div class="logo">
                <img src="/css/avatar/Virtutalk-logos_transparent.png" alt="">
            </div>

            <div class="search">
                <input type="text" placeholder="Search VirtuConnect" name="" id="">
            </div>
        </div>

        <!--tab icons-->
        <div class="tabs">
            <div class="tab-icon active">
                <div class="icon">
                    <img src="/css/icons/home.svg" alt="">
                </div>
            </div>

            <div class="tab-icon">
                <div class="icon has-notification">
                    <img src="/css/icons/flag.svg" alt="">
                </div>
            </div>

            <div class="tab-icon">
                <div class="icon">
                    <img src="/css/icons/tv.svg" alt="">
                </div>
            </div>

            <div class="tab-icon">
                <div class="icon">
                    <img src="/css/icons/users.svg" alt="">
                </div>
            </div>


            <div class="tab-icon">
                <div class="icon has-notification">
                    <img src="/css/icons/calendar.svg" alt="">
                </div>
            </div>
        </div>

        <!--right side-->
        <div class="right-side">
            <div class="user">
                <div class="profile">
                    <img src="/css/avatar/sagnik.jpg" alt="">
                </div>
                <h4 style="color: #fff;">Sagnik</h4>
            </div>

            <!--icons-->
            <div class="user-icons">
                <div class="icon">
                    <img src="/css/icons/plus.svg" alt="">
                </div>

                <div class="icon has-notification">
                    <a href="/chat-room/index.html"><img src=" /css/icons/messenger.svg" style="width: 20px; height: 20px;" alt=""></a>
                </div>

                <div class="icon has-notification">
                    <a href="/notification"><img src="/css/icons/bell.svg" style="width: 20px; height: 20px;" alt=""></a>
                </div>

                <div class="icon">
                    <img src="/css/icons/arrow.svg" alt="">
                </div>
            </div>
        </div>
    </nav>


    <!--content-->
    <div class="wrapper">
        <div class="shortcuts">
            <div class="first-col">
                <div class="menu-item">
                    <div class="user">
                        <div class="profile">
                            <img src="/css/avatar/sagnik.jpg" alt="">
                        </div>
                        <h4>Sagnik</h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/icons/shield.svg" alt="">
                        </div>
                        <h4>COVID-19 Infromation Center </h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/icons/colored-people.svg" alt="">
                        </div>
                        <h4>Friends </h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/icons/colored-messenger.svg" alt="">
                        </div>
                        <h4>Chatroom</h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/icons/colored-flag.svg" alt="">
                        </div>
                        <h4>Pages </h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row  border">
                        <div class="icon more">
                            <img src="/css/icons/arrow-down.svg" alt="">
                        </div>
                        <h4>see more </h4>
                    </div>
                </div>
            </div>
            <div class="second-col">

                <h6 class="title">
                    your shortcuts
                </h6>
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/stories/st-1.jpeg" alt="">
                        </div>
                        <h4>Adidas Originals Shoes</h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/stories/st-2.jpeg" alt="">
                        </div>
                        <h4>Zara</h4>
                    </div>
                    <div class="menu-item">
                        <div class="item-row">
                            <div class="icon">
                                <img src="/css/stories/page-1.jpg" alt="">
                            </div>
                            <h4>Apple iphone 14 Plus</h4>
                        </div>
                    </div>

                    <div class="menu-item">
                        <div class="item-row">
                            <div class="icon">
                                <img src="/css/stories/st-3.jpeg" alt="">
                            </div>
                            <h4>Birthday Recommendations </h4>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>



        <!--posts-->
        <div class="posts">
            <!-- stories -->
            <div class="stories">
                <div class="owl-controls">
                    <div class="owl-nav">
                        <div class="controllers nxtBtn">
                            <img src="/css/icons/arrow-right.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="owl-carousel owl-theme slider">
                    <div class="item">
                        <div class="overlay first">
                            <div class="create">
                                <div class="icon">
                                    <img src="/css/icons/plus.svg" alt="">
                                </div>
                                <span style="color: #fff;">Create a Story</span>
                            </div>
                        </div>
                        <div class="story-image">
                            <img src="/css/avatar/sagnik.jpg" alt="">
                        </div>
                    </div>
                    <!---->

                    <div class="item">
                        <div class="overlay">
                            <div class="person">
                                <div class="profile">
                                    <img src="/css/avatar/ajay.jpg" alt="">
                                </div>
                            </div>
                            <h4 style="color: #fff;"> Ajay</h4>
                        </div>
                        <div class="story-image">
                            <img src="/css/stories/st-2.jpeg" alt="">
                        </div>
                    </div>
                    <!---->

                    <div class="item">
                        <div class="overlay">
                            <div class="person">
                                <div class="profile">
                                    <img src="/css/avatar/ayush.jpg" alt="">
                                </div>
                            </div>
                            <h4 style="color: #fff;">Ayush Rajput</h4>
                        </div>
                        <div class="story-image">
                            <img src="/css/stories/st-3.jpeg" alt="">
                        </div>
                    </div>
                    <!---->

                    <div class="item">
                        <div class="overlay">
                            <div class="person">
                                <div class="profile">
                                    <img src="/css/avatar/4.jpg" alt="">
                                </div>
                            </div>
                            <h4 style="color: #fff;">Atrik Ghosh</h4>
                        </div>
                        <div class="story-image">
                            <img src="/css/stories/st-4.jpg" alt="">
                        </div>
                    </div>
                    <!---->

                    

                    <div class="item">
                        <div class="overlay">
                            <div class="person">
                                <div class="profile">
                                    <img src="/css/avatar/6.jpg" alt="">
                                </div>
                            </div>
                            <h4 style="color: #fff;">Manoj</h4>
                        </div>
                        <div class="story-image">
                            <img src="/css/stories/st-1.jpeg" alt="">
                        </div>
                    </div>
                    <!---->
                </div>
            </div>

            <!--create post-->
            <div class="timeline">
                <div class="view create-post">
                    <div class="input">
                        <div class="user">
                            <div class="profile">
                                <img src="/css/avatar/sagnik.jpg" alt="">
                            </div>
                        </div>
                        <input type="text" placeholder="What on your mind, Sagnik?" name="" id="">
                    </div>
                    <div class="media">
                        <div class="category">
                            <div class="option">
                                <div class="icon">
                                    <img src="/css/icons/video-live.svg" alt="">
                                </div>
                                <span>Live video</span>
                            </div>

                            <div class="option">
                                <div class="icon">
                                    <img src="/css/icons/photos.svg" alt="">
                                </div>
                                <span>photo/video</span>
                            </div>

                            <div class="option">
                                <div class="icon">
                                    <img src="/css/icons/smile.svg" alt="">
                                </div>
                                <span>feeling/activity</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="create-post view smaller-margin">
                    <div class="upper">
                        <div class="title">
                            <div class="icon">
                                <img src="/css/icons/video-room.svg" alt="">
                            </div>
                            <span style="color: #fff;">Rooms</span>
                        </div>
                        <a href="">
                            create
                        </a>
                    </div>

                    <div class="owl-carousel owl-theme rooms">
                        <div class="item">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/sagnik.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!---->

                        <div class="item">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/sagnik.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="item">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="item">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!---->

                        <div class="item">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!---->

                        <div class="item">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!---->

                        <div class="item">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <!--post container-->
                <div class="view view-post-container smaller-margin">
                    <div class="view-post">
                        <div class="upper">
                            <div class="d-flex">
                                <div class="user">
                                    <div class="profile">
                                        <img src="/css/avatar/ajay.jpg" alt="">
                                    </div>
                                </div>

                                <div class="info">
                                    <h6 style="color: #fff;" class="name">
                                        Ajay
                                    </h6>
                                    <span class="time">1 hour ago</span>
                                </div>
                            </div>

                            <div class="dots">
                                <div class="dot"></div>
                            </div>
                        </div>

                        <div class="desc">
                            <p style="color: #fff;">Awesome pair of Shoes, #Nike_Jordans</p>
                        </div>

                        <div class="post-img">
                            <img src="/css/posts/1.jpg" alt="">
                        </div>

                        <div class="actions-container">
                            <div class="action">
                                <div class="icon">
                                    <img src="/css/icons/thumbs-up.svg" alt="">
                                </div>
                                <span>
                                    like
                                </span>
                            </div>

                            <div class="action">
                                <div class="icon">
                                    <img src="/css/icons/comment.svg" alt="">
                                </div>
                                <span>
                                    comment
                                </span>
                            </div>

                            <div class="action">
                                <div class="icon">
                                    <img src="/css/icons/share.svg" alt="">
                                </div>
                                <span>
                                    share
                                </span>
                            </div>
                        </div>

                        <div class="write-comment">
                            <div class="user">
                                <div class="profile">
                                    <img src="/css/avatar/sagnik.jpg" alt="">
                                </div>
                            </div>
                            <div class="input">
                                <input type="text" placeholder="Write a comment" name="" id="">
                                <div class="media">
                                    <div class="icon">
                                        <img src="/css/icons/camera.svg" alt="">
                                    </div>

                                    <div class="icon">
                                        <img src="/css/icons/image.svg" alt="">
                                    </div>

                                    <div class="icon">
                                        <img src="/css/icons/smile-2.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!--people you may know-->
                <div class="view friends smaller-margin">
                    <div class="upper">
                        <h6 style="color: #fff;">people you may know</h6>
                        <div class="dots">
                            <div class="dot"></div>
                        </div>
                    </div>

                    <div class="owl-carousel owl-theme people">
                        <div class="item">
                            <div class="person-img">
                                <div class="icon">
                                    &times;
                                </div>
                                <img src="/css/avatar/sagnik.jpg" alt="">
                            </div>

                            <div class="info">
                                <h4>
                                    Sagnik Saha
                                </h4>
                                <span>4 mutual friend</span>
                                <button style="color: #fff;">
                                    Follow
                                </button>
                            </div>
                        </div>
                        <!---->

                        <div class="item">
                            <div class="person-img">
                                <div class="icon">
                                    &times;
                                </div>
                                <img src="/css/avatar/ajay.jpg" alt="">
                            </div>

                            <div class="info">
                                <h4>
                                    Ajay S Biradar
                                </h4>
                                <span>4 mutual friend</span>
                                <button style="color: #fff;">
                                    Follow
                                </button>
                            </div>
                        </div>
                        <!---->

                        <div class="item">
                            <div class="person-img">
                                <div class="icon">
                                    &times;
                                </div>
                                <img src="/css/avatar/ayush.jpg" alt="">
                            </div>

                            <div class="info">
                                <h4>
                                    Ayush Rajput
                                </h4>
                                <span>4 mutual friend</span>
                                <button style="color: #fff;">
                                    Follow
                                </button>
                            </div>
                        </div>
                        <!---->

                        <div class="item">
                            <div class="person-img">
                                <div class="icon">
                                    &times;
                                </div>
                                <img src="/css/avatar/hero.png" alt="">
                            </div>

                            <div class="info">
                                <h4>
                                    Atrik Ghosh
                                </h4>
                                <span>4 mutual friend</span>
                                <button style="color: #fff;">
                                    Follow
                                </button>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>

        <!--shortcuts 2 -events and chat- -->
        <div class="shortcuts shortcuts-2">
            <div class="second-col first-col">
                <div class="menu-item">
                    <div class="upper">
                        <h6>Your pages</h6>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/stories/st-2.jpeg" alt="">
                        </div>
                        <h4>Best Deals 24*7!!!</h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon">
                            <img src="/css/stories/st-1.jpeg" alt="">
                        </div>
                        <h4>Wardrobe under 499</h4>
                    </div>
                </div>

                <div class="menu-item">
                    <div class="item-row  border">
                        <div class="icon more">
                            <img src="/css/icons/arrow-down.svg" alt="">
                        </div>
                        <h4>see more </h4>
                    </div>
                </div>
            </div>
            <div class="second-col">

                <h6 class="title">
                    birthdays
                </h6>
                <div class="menu-item">
                    <div class="item-row">
                        <div class="icon not-rounded">
                            <img src="/css/icons/gift.svg" alt="">
                        </div>
                        <h4>it's Ajay's birthday </h4>
                    </div>
                </div>
                <div class="online">
                    <h6 class="title">
                        contact
                    </h6>

                    <div class="user">
                        <div class="profile">
                            <img src="/css/avatar/ajay.jpg" alt="">
                        </div>
                        <h4>Ajay</h4>
                    </div>

                    <div class="user">
                        <div class="profile">
                            <img src="/css/avatar/ayush.jpg" alt="">
                        </div>
                        <h4>Ayush Rajput</h4>
                    </div>

                    <div class="user">
                        <div class="profile">
                            <img src="/css/avatar/2.jpg" alt="">
                        </div>
                        <h4>Atrik Ghosh</h4>
                    </div>

                    <div class="user">
                        <div class="profile">
                            <img src="/css/avatar/3.jpg" alt="">
                        </div>
                        <h4>Manoj E S</h4>
                    </div>

                   

                </div>
            </div>
        </div>
    </div>



    <script src="/css/js/jquery.min.js"></script>
    <script src="/css/js/owl.carousel.min.js"></script>
    <script src="/css/js/index.js"></script>
</body>

</html>